.page-footer {
  background-color: #80BF9B;
  text-align: center;
  padding: 3vw;

  font-size: max(1.35vw, 18.5px);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;

    li {
      text-align: center;
      margin: 0 1vw;

      a {
        text-decoration: none;
        background-color: #fff;
        padding: 1vw 2vw;
        border: 1px solid #fff;
        border-radius: 3px;
        display: block;

        &:hover {
          color: #fff;
          background-color: rgba(0, 0, 0, .0);
        }

        svg {
          display: none;

        }
      }
    }
  }

  p {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
  }

  .link-github {

    svg {
      width: 30px;
      fill: #F2D1C9;
    }

  }
}