body {

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 25vw 34px 1fr 1fr 45px 34vw;
    grid-template-rows: auto auto auto;
  }

  overflow-x: visible;

  .skip-link {
    display: none;
  }
}

header {
  //grid-row: 1 / 3;

  .container {

    @media (min-width: 1024px) {
      position: sticky;
      top: 0px;
      margin-right: -35px;
    }

    @include clearFix();
  }
}

nav {
  z-index: 0;

  @media (min-width: 1024px) {
    background: #f2d1c8;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearFix();

    li {
      float: left;
    }
  }

  @media (min-width: 1024px) {
    ul {
      position: absolute;
      position: sticky;
      top: 0px;
      transform-origin: left top;
      width: 570px;
      height: 570px;
      transform: rotate(-90deg) translateX(-100%);

      li {
        float: right;
        display: block;
      }
    }
  }

}

#main {
  grid-column-start: span 4;
  position: relative;
  color: #000;
  margin: 15px 15px;

  @media (min-width: 1024px) {
    margin: 6vw 8vw;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(100deg, #025940, #F26052);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    mix-blend-mode: screen;

    &>article {
      section {
        mix-blend-mode: screen;
        background-color: #fff;
        padding: max(3vw, 30px) 0;
        @include clearFix();
      }
    }
  }
}

aside {

  &#styles {
    grid-column-start: span 6;
    //grid-row: 2;
  }

  &.profile {}

  .container {}
}

.page-footer {
  grid-column-start: span 6;
}

@keyframes fadein {
  from {
    opacity: 0;
    filter: blur(4px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}