.profile {
  z-index: 2;
  font-size: 16px;

  @media (min-width: 1024px) {
    position: fixed;
    bottom: 0;
    right: 30px;
  }

  .container {
    background: #F26052;
    color: #fff;
    padding: 0 30px 30px 30px;
    line-height: 1.7;
    text-align: center;
    @include clearFix();

    @media (min-width: 1024px) {
      background: #025940;
      text-align: left;
      animation-name: jumping;
      min-width: 250px;
      animation-duration: 1s;
      transition: ease all .4s;
      margin-bottom: calc(-100% + 95px);
    }

    a {
      text-decoration: underline;
    }

    #profile-title {
      line-height: 40px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &:hover .container {
    margin-bottom: 0%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;

    li {
      span:first-child {
        font-weight: bold;
      }

      span {}
    }
  }
}

@keyframes jumping {
  0% {
    margin-bottom: -100%;
  }

  50% {
    margin-bottom: 0%;
  }

  100% {
    margin-bottom: calc(-100% + 95px);
  }
}