#styles {
  text-align: center;
  //margin: 1.7vw;
  background: #025940;
  color: #fff;


  padding: max(3vw, 30px) max(2vw, 15px);

  h2 {
    margin-bottom: max(2.5vw, 30px);
  }

  ul.features {
    list-style: none;
    padding: 0;
    display: flex;

    li {
      margin-bottom: 1vw;
      flex: 1;


      &:nth-child(2n) {}

      &:nth-child(1) a::before {
        content: "👌 ";
      }

      &:nth-child(2) a::before {
        content: "🤘 ";
      }

      &:nth-child(3) a::before {
        content: "👍 ";
      }

      >span {

        a {
          border: 1px solid #ffffff5c;
          padding: max(0.4vw, 5px) max(1.1vw, 5px);
          font-size: max(2vw, 16px);
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 0.6vw;
          display: block;

          @media (min-width: 1024px) {
            display: inline;
          }
        }

        >span {
          font-family: $font-family-quote;
          font-size: max(1vw, 14px);
        }
      }
    }

  }

  a {
    border-color: #fff;
  }
}